<form class="td-NewItemForm" (ngSubmit)="submitForm()">
    <fieldset class="td-NewItemForm_Field">
        <label for="item_content">New Todo Item</label>
        <input name="content" type="text" minlength="3" required [(ngModel)]="model.content" #newItemContent />
        <span class="td-NewItemForm_Field-errorMessage" *ngIf="submitted && newItemContent.value.length < 3">3 characters are required</span>
    </fieldset>

    <fieldset class="td-NewItemForm_Field td-NewItemForm_Field-iconSelect">
        <label for="item_priority">Priority</label>
        <select id="item_priority" name="item_priority" required [(ngModel)]="model.priority" #newItemPriority>
            <option value="2">High</option>
            <option value="1">Medium</option>
            <option value="0">Low</option>
        </select>
    </fieldset>

    <fieldset class="td-NewItemForm_Field td-NewItemForm_Field-submit">
        <input type="submit" value="Add" />
    </fieldset>
</form>
