<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/style.css" />

        <!-- 1. Load libraries -->
        <!-- IE required polyfill -->
        <script src="vendor/node_modules/core-js/client/shim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>

        <script src="vendor/node_modules/zone.js/dist/zone.js"></script>
        <script src="vendor/node_modules/reflect-metadata/Reflect.js"></script>

        <script src="vendor/node_modules/rxjs/bundles/Rx.umd.js"></script>
        <script src="vendor/node_modules/@angular/core/bundles/core.umd.js"></script>
        <script src="vendor/node_modules/@angular/common/bundles/common.umd.js"></script>
        <script src="vendor/node_modules/@angular/compiler/bundles/compiler.umd.js"></script>
        <script src="vendor/node_modules/@angular/platform-browser/bundles/platform-browser.umd.js"></script>
        <script src="vendor/node_modules/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js"></script>

        <!-- 2. Load our 'modules' -->
        <script src="app/services/todo-item.service.js"></script>
        <script src="app/components/header/header.component.js"></script>
        <script src="app/components/new-item/newItem.component.js"></script>
        <script src="app/app.component.js"></script>
        <script src="app/main.js"></script>
    </head>

    <!-- 3. Display the application -->
    <body>
        <% if (user) { %>
            <h2>Hello <%=user%> </h2>
            <a href="/auth/logout">Logout</a>
        <% } else { %>
            <a href="/auth/register">Register</a>
            <a href="/auth/login">Login</a>
        <% } %>
        <app-main>Loading...</app-main>

    </body>
</html>
