<header class="td-Header">
    <div class="td-Header_LogoWrapper"></div>

    <ul class="td-Header_Navbar">
        <li class="td-Header_NavItem" *ngIf="loggedIn == undefined || loggedIn == false"><a href="">Login</a></li>
        <li class="td-Header_NavItem" *ngIf="loggedIn == undefined || loggedIn == false"><a href="">Register</a></li>
        <li class="td-Header_NavItem" *ngIf="isAdmin"><a href="">Users</a></li>
        <li class="td-Header_NavItem" *ngIf="loggedIn"><a href="">Logout</a></li>
    </ul>
</header>
